.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #151F2B;
}

.container {
  display: flex;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
}

.containerCenter {
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  width: 30%;
  flex-grow: 1;
  color: white;
}

.containerRight {
  width: 30%;
  margin-left: auto;
  color: white;

}

.header {
  margin-bottom: auto;
  height: 10%;

}

.image {
  height: 80px;
  width: 80px;
  margin-left: 20px;
  transform: rotate(180deg);
  cursor: pointer;
}

.title {
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;


}

.user {
  color: white;
  font-weight: bold;
}

.logout {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #151F2B;
}

.container {
  display: flex;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;

}

.containerCenter {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  width: 50%;
  font-size: 9px;

  flex-grow: 1;
  color: white;
}

.containerRight {
  width: 40%;
  margin-left: auto;
  color: white;
  font-size: 9px;

}

.header {
  margin-bottom: auto;
  height: 10%;


}


.footer {

  margin-top: auto;
  ;
}

.image {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  transform: rotate(180deg);
}

.title {
  margin-left: 20px;
}

.logout {
  width: 50%;
  height: 50%;
}



.addmessage {

  background-color: #151F2B;
  border: none;
  border-bottom: 2px solid gray;
  height: 50px;
  width: 80%;
  font-size: 22px;
  margin-left: 10%;
  color: white;
  margin-top: 15px;


}

.tweetButton {

  border-radius: 20px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: #3E9BEF;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 75%;
  margin-top: 25px;


}

.addTweet {

  border-bottom: 1px solid gray;
  height: 20%;
}

.tweetAdded {
  font-size: 22px;

}